.profile-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
.upload-image-from-gallery{
  position: fixed;
    bottom: 80px;
    right: 20px;
}
  .upload {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db; /* Set your desired background color */
    border-radius: 50%; /* Make it circular */
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
    cursor: pointer;
  }
  
  .upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; /* Set your desired text color */
  }
  
  /* Add hover effect if needed */
  .upload:hover {
    background-color: #2980b9; /* Change the background color on hover */
  }
  
.container .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.container .row .col-md-4{
    border: 1px solid rgb(245, 141, 141);
    border-radius: 10px;
}

.container .row .col-md-4 span{
    display: flex;
    justify-content:flex-start;
    padding: 5px;
    background-color: rgb(245, 141, 141);
    border-radius: 10px 10px 0px 0px;
    
}
.action-with-image{
    width: 150;
    height: 100;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.action-with-image div{
    padding: 5px;
    cursor: pointer;
}

.turn-back-page{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 7px;
  cursor: pointer;
}
.turn-back-page p{
  font-size: 18px;
}
.turn-back-page span{
  color: #9DBFAF;
  font-weight: 700;
}
.image-upload .select-image-update{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap:2px;
}
.choose-image-upload{
  border: 1px solid red;
  border-radius: 2px;
}